<%- include('parts/header-html') %>
<%- include('parts/navbar') %>

<div class="container">
  <div class="row">
    <h2>Hello <%= name%></h2>
  </div>
</div>

<%- include('parts/script') %> <%- include('parts/footer-html') %>
